In [3]:
# Import the libraries
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib import pyplot
from scipy.stats import norm
import datetime as dt

In [4]:
# Import data
Nat_gas_df = pd.read_csv("Nat_Gas.csv")

In [5]:
Nat_gas_df.head()

      Dates  Prices
0  10/31/20    10.1
1  11/30/20    10.3
2  12/31/20    11.0
3   1/31/21    10.9
4   2/28/21    10.9

In [6]:
# Concert Month into Deadline
Nat_gas_df['Dates'] = pd.to_datetime(Nat_gas_df['Dates'])

/var/folders/18/r7sww6y93kj763sccggn9hzm0000gn/T/ipykernel_50879/3355420378.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Nat_gas_df['Dates'] = pd.to_datetime(Nat_gas_df['Dates'])

In [7]:
Nat_gas_df.head()

       Dates  Prices
0 2020-10-31    10.1
1 2020-11-30    10.3
2 2020-12-31    11.0
3 2021-01-31    10.9
4 2021-02-28    10.9

In [8]:
Nat_gas_df.set_index('Dates', inplace=True)

In [9]:
Nat_gas_df.head(18)

            Prices
Dates
2020-10-31   10.10
2020-11-30   10.30
2020-12-31   11.00
2021-01-31   10.90
2021-02-28   10.90
2021-03-31   10.90
2021-04-30   10.40
2021-05-31    9.84
2021-06-30   10.00
2021-07-31   10.10
2021-08-31   10.30
2021-09-30   10.20
2021-10-31   10.10
2021-11-30   11.20
2021-12-31   11.40
2022-01-31   11.50
2022-02-28   11.80
2022-03-31   11.50

In [10]:
inj_dates = ['2021-06-30','2021-07-31','2021-08-31'] # injection dates]
inj_dates

['2021-06-30', '2021-07-31', '2021-08-31']

In [13]:
inj_prices=  Nat_gas_df.loc[inj_dates]['Prices'] # Prices at time of injection
inj_prices

Dates
2021-06-30    10.0
2021-07-31    10.1
2021-08-31    10.3
Name: Prices, dtype: float64

In [14]:
wtdhr_dates = ['2021-12-31','2022-01-31','2022-02-28'] # Withdrawal  dates
wtdhr_dates

['2021-12-31', '2022-01-31', '2022-02-28']

In [15]:
wtdhr_prices = Nat_gas_df.loc[wtdhr_dates]['Prices'] # Prices at time of Withdrawal 
wtdhr_prices

Dates
2021-12-31    11.4
2022-01-31    11.5
2022-02-28    11.8
Name: Prices, dtype: float64

In [16]:
# Costs

injection_cost = 10000 #$
withdrawal_cost = 10000 #$
transp_cost = 50000 #$
max_inventory = 1500000 #BTU total
max_injection_rate_monthly = 500000 #BTU monthly
max_withdrawal_rate_monthly = 500000 #BTU monthly
storage_cost_monthly = 100000 #$

In [17]:
planned_injection = 0

for i in range(0,len(inj_prices)):
     planned_injection += inj_prices[i]*max_injection_rate_monthly

planned_injection

15200000.0

In [18]:
planned_Withdrawal = 0

for i in range(0,len(wtdhr_prices)):
     planned_Withdrawal += wtdhr_prices[i]*max_withdrawal_rate_monthly

planned_Withdrawal

17350000.0

In [19]:
Margin = planned_Withdrawal - planned_injection
Margin

2150000.0

In [20]:
inj_dates[0] # firt injection

'2021-06-30'

In [21]:
wtdhr_dates[-1] # last withdrawal

'2022-02-28'

In [22]:
storage_time = len(pd.date_range(start=inj_dates[0], end=wtdhr_dates[-1], freq='M'))
storage_time

9

In [23]:
total_storage_cost = storage_time*storage_cost_monthly
total_storage_cost

900000

In [24]:
Net_margin = ( Margin - transp_cost*(len(wtdhr_dates)+len(inj_dates)) - 
                    total_storage_cost - 
                    injection_cost*len(inj_dates) - 
                     withdrawal_cost*len(wtdhr_dates) )

# Value of the contract
Net_margin

890000.0